html {
    height: 100%;
    font-family: "Roboto condensed", sans-serif;
}

body {
    height: 100;
    display: flex;
    justify-content: centex;
    align-items: center;
}

.container {
    box-shadow: 0 ipx 4px rgba(0, 0, 0, 0.521);
    padding: 15PX;
    border-radius: 5px;
    background-color:black;
    
}

.screen {
    margin: 0;
    background-color: white;
    color:rgba(0, 0, 0, 0.521)
    font-size: 64px
    border-radius: 5px
    cursor: default;
    user-select: none;

}

.screen span {
    display: inline-block;
    width: 85px;
    text-align: center;
}

.buttons{
    display: flex;
    margin: 10px -5px 0;
}
 .buttons button {
     flex: 1;
     margin: 0 5px:
     border: none
     font-size: 20px;
     padding: 5px
     border-radius: 5px;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
     font-weight: bold;
     cursor: pointer;

 }
